@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Noto+Sans+KR&family=Quicksand&display=swap');

:root {
  --grey: #E0E0FF;
  --lavendar: #B89FCC;
  --purple: #754999;
  --yellow: #FFE4A1;
  --beige: #CCBB9F;
  --Manrope: 'Manrope', sans-serif;
  --Noto-Sans: 'Noto Sans KR', sans-serif;
  --Quicksand: 'Quicksand', sans-serif;
}
body {
  background-color: var(--lavendar);
  text-align: center;
  font-family: var(--Noto-Sans);
  /* max-width: 80%; */
}
header {
  height: 70px;
  background-color: var(--beige);
  width: 80%;
  display: inline-flex;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  font-family: var(--Manrope);
  padding-bottom: 4px;
}
nav {
  background-color: var(--purple);
  display: inline-flex;
  width: 80%;
  justify-content: space-around;
  border-radius: 0 0 8px 8px;
}
nav li {
  list-style: none;
  display: inline;
  justify-content: center;
  padding: 40px;

}
article {
  display: flex;
  justify-content: center;
}
.item-outer-container {
  border: 2px solid var(--beige);
  background-color: var(--grey);
  border-radius: 8px;
  margin: 8px;
  width: 65%;
  padding: 20px;
}
.item-outer-container h2 {
  font-family: var(--Noto-Sans);
}
.item-inner-container {
  background-color: var(--yellow);
  margin: 0 15px 8px 15px;
  border-radius: 8px;
  font-family: var(--Quicksand);
  border: 1px solid var(--purple);
}
.form-outer-container {
  border: 2px solid var(--beige);
  background-color: var(--grey);
  border-radius: 8px;
  margin: 8px;
  width: 65%;
  padding: 20px;
}
.form-outer-container input, textarea {
  background-color: var(--grey);
  border: 2px solid var(--beige);
  border-radius: 4px;
  color: var(--purple);
  margin: 8px;
}
.form-inner-container {
  background-color: var(--yellow);
  margin: 0 15px 8px 15px;
  border-radius: 8px;
  font-family: var(--Quicksand);
  padding-top: 10px;
}
.edit-delete-container li {
  list-style: none;
  display: inline;
  margin: 15px;
}
.completed {
  text-decoration: line-through;
}
